* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;

}

header {
    background-color: aqua;
    width: 510px;
    margin: auto;
    padding: 5px;
}

p {
    text-align: center;
    color: brown;
}

select#llista {
    width: 200px;
}
